@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@include mat-core();

$primary: mat-palette($mat-blue);
$accent:  mat-palette($mat-amber);
$warn:    mat-palette($mat-red);

@include angular-material-theme(mat-light-theme($primary, $accent, $warn));

.mat-drawer-container {
  background: white;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
